<footer class="site-footer">

  <div class="wrap">
	  <a href="//ze3kr.com"><h2 class="footer-heading">ZE3kr</h2></a>
	  <nav>
		  <div class="footer-col-search column">
			  <p class="text">{{ site.description }}</p>
		  </div>
	  </nav>
	  <div class="footer-col-1 column">
		  <ul>
			  <li>The video and static file is hosted on <a href="https://www.upyun.com/" target="_blank"><img src="//technolumn.b0.upaiyun.com/upyun/90.png" srcset="//technolumn.b0.upaiyun.com/upyun/180.png 2x" alt="UPYUN" style="width: 90px"></a></li>
			  <li><a href="{{ site.github.repository_url }}/tree/{{ site.branch }}">This is an open sourced site.</a></li>
			  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
			  <li>
				  {% if page.copyright %}{% if page.copyright_link %}<a href="{{ page.copyright_link }}">{% endif %}&#xA9; {{ page.time | date: "%Y" }} {{ site.github.owner_name }}. {{ page.copyright | xml_escape }}{% if page.copyright_link %}</a>{% endif %}
				  {% else %}{% if site.copyright_link %}<a href="{{ site.copyright_link }}">{% endif %}&#xA9; {{ page.time | date: "%Y" }} {{ site.github.owner_name }}. {{ site.copyright | xml_escape }}{% if site.copyright_link %}</a>{% endif %}{% endif %}
			  </li>
		  </ul>
	  </div>
	</div>

</footer>
