<header class="site-header">
	<div class="background-div"><img src="/image/top-plax.png" class="js-plaxify background-img" data-invert="true" data-xrange="0" data-yrange="20" /></div>
  <div class="wrap">

    <a class="site-title" href="{{ site.github.url }}{% if page.nositename %}{{ page.url }}{% else %}/{% endif %}{% if page.file %}video/{% endif %}{% if page.full-image %}photo/{% endif %}" rel="home">{% if page.nositename %}{{ page.title }}{% endif %}{% if page.file %}Thrideo{% else %}{% if page.full-image %}ZE3kr’s Photo{% else %}{% if page.nositename %}{% else %}{{ site.title }}{% endif %}{% endif %}{% endif %}</a>

    <nav class="site-nav">
      <a id="menu-icon" href="javascript:void(0);" class="menu-icon" onclick="document.getElementById('trigger').style.display='block';document.getElementById('menu-icon').style.display='none';document.getElementById('trigger-icon').style.display='block';">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
          <path fill="{{ site.data.color.nav }}" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0
            h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="{{ site.data.color.nav }}" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484
            h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="{{ site.data.color.nav }}" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0
            c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
			</a>

			<a id="trigger-icon" href="javascript:void(0);" class="menu-icon" style="display: none;" onclick="document.getElementById('trigger').style.display='none';document.getElementById('trigger-icon').style.display='none';document.getElementById('menu-icon').style.display='block';">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 18 18" enable-background="new 0 0 18 18" xml:space="preserve">
					 <path fill="#AE4A03" d="M17.4,17.4c-0.8,0.8-2,0.8-2.8,0L0.6,3.4c-0.8-0.8-0.8-2,0-2.8l0,0c0.8-0.8,2-0.8,2.8,0l14.1,14.1
					C18.2,15.4,18.2,16.7,17.4,17.4L17.4,17.4z"/>
					<path fill="#AE4A03" d="M17.4,0.6c0.8,0.8,0.8,2,0,2.8L3.4,17.4c-0.8,0.8-2,0.8-2.8,0l0,0c-0.8-0.8-0.8-2,0-2.8L14.6,0.6
					C15.4-0.2,16.7-0.2,17.4,0.6L17.4,0.6z"/>
				</svg>
      </a>
      <div class="trigger" id="trigger">
				<a class="page-link" href="/">Home</a>
				<a class="page-link" href="/archive{% if page.nositename %}{{ page.url }}{% else %}/{% endif %}{% if page.file %}video/{% endif %}{% if page.full-image %}photo/{% endif %}">Archive</a>
      </div>
    </nav>

  </div>

</header>
