<script type="text/javascript">
  var vglnk = { key: 'ac3a1f80a0aa7cef5d1ba11becbd049a' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53c5146c23971c64"></script>

<script type="text/javascript">
	//<![CDATA[
	(function() {
		var links = document.getElementsByTagName('a');
		var query = '?';
		for(var i = 0; i < links.length; i++) {
			if(links[i].href.indexOf('#disqus_thread') >= 0) {
				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
			}
		}
		document.write('<script charset="utf-8" type="text/javascript" src="//ze3kr.disqus.com/get_num_replies.js' + query + '"></' + 'script>');
	})();
	//]]>
	{% if page.notpost %}{% else %}
		var disqus_url = '{{ page.url | replace:'index.html','' | prepend: site.github.url }}';
		var disqus_identifier = '{{ page.url | replace:'index.html','' }}';
	{% endif %}
</script>
{% if page.notpost %}{% else %}<script type="text/javascript" src="//ze3kr.disqus.com/embed.js"></script>{% endif %}
