---
layout: default
title: 所有动态
notpost: yes
---

<div class="home">
  {% if paginator.previous_page %}
    <a href="/blog/" class="previous" rel="start"><h1 class="top">&larr; 第一页</h1></a>
  {% endif %}
  <h1 class="top">所有动态</h1>

  <ul class="posts">
	{% for post in paginator.posts %}
      <li class="post">
        <a class="post-date" href="{{ post.url | prepend: site.github.url }}">{{ post.date | date: "%Y年%-m月%-d日" }} {% if post.title %}<span class="post-link">{{ post.title }}</span>{% endif %}</a>
				  <p class="meta">{% if post.author %}{{ post.author }}{% endif %}{% if post.subtitle %}{% if post.author %} • {% endif %}{{ post.subtitle }}{% if post.nocomment %}{% else %} • {% endif %}{% endif %}{% if post.nocomment %}{% else %}<a href="{{ post.url | prepend: site.github.url }}#disqus_thread">评论</a>{% endif %}</p>
				{% if post.image %}<img src="{% if post.small-image %}{{ post.small-image }}{% else %}{{ post.image }}{% endif %}" />{% endif %}
				{% if post.image %}
					{% if post.file %}<div style="position: relative;bottom: 5em;left: 2px;"><a href="{{ post.url | prepend: site.github.url }}#video" title="播放"><img src="{{ "/image/play.png" | prepend: site.github.url }}" style="position: absolute;width: 72px;height: 72px;" /></a></div>{% endif %}
					{% if post.full-image %}<div style="position: relative;bottom: 2em;left: 5px;"><a href="{{ post.full-image }}" title="原始分辨率版本" style="color: white;position: absolute;background-color: black;filter: alpha(Opacity=70);-moz-opacity: 0.7;opacity: 0.7;">原始分辨率版本</a></div>{% endif %}
				{% endif %}
				<p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.github.url }}">via RSS</a></p>
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ site.github.url }}{{ paginator.previous_page_path }}/" class="previous" rel="prev">&larr; 上一页</a>
    {% endif %}
    <span class="page_number ">第{{ paginator.page }}页 共{{ paginator.total_pages }}页</span>
    {% if paginator.next_page %}
      <a href="{{ site.github.url }}{{ paginator.next_page_path }}/" class="next" rel="next">下一页 &rarr;</a>
    {% endif %}
  </div>

</div>
