---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{% if page.date %}{{ page.date | date_to_string }} {{ page.date | date: "%H:%M" }} <span title="Greenwich Mean Time">GMT</span>{% endif %}{% if page.author %}{% if page.date %} • {% endif %}<span class="author">{{ post.author }}</span>{% endif %}{% if page.subtitle %} • {{ page.subtitle }}{% endif %}{% if page.nocomment %}{% else %} • <a href="{{ page.url | prepend: site.github.url }}#disqus_thread">Comment</a>{% endif %}</p>
  </header>

  <article class="post-content">
	{% if page.image %}<a href="{{ page.full-image }}" title="Original res version"><img src="{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','_c.' }}" srcset="
				{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' }} 2x, 
				{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','_n.' }} 320w 1x, 
				{{ post.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','_z.' }} 640w 1x, 
				{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','_c.' }} 320w 2x, 
				{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','' }} 500w 1x, 
				{{ page.image | replace:'https://','http://' | replace:'staticflickr.com','static.ze3kr.com' | replace:'_b.','' }} 250w 2x,  
				" style="min-height: 100px;" /></a>{% endif %}
	{% if page.vimeo %}
		<iframe src="https://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;byline=0&amp;portrait=0&amp;color=f05909&amp;autoplay=1" width="100%" class="video" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="video"></iframe>
	{% else %}
  {% if page.file %}<video controls width="100%" autoplay name="media" style="max-width: 100%; max-height: 100%;" id="video" class="video" x-webkit-airplay="allow" bgcolor="white" poster="{% if page.type %}{{ page.image }}{% else %}{{ site.avatarurl }}{% endif %}"><source src="{{ page.file }}" type="{% if page.type %}{{ page.type }}{% else %}{{ site.defaultFileType }}{% endif %}"></video>{% endif %}
	{% endif %}
	<a class="addthis_button_facebook_like" fb:like:layout="button_count" style="display: inline-block;height: 20px;"></a><div class="addthis_sharing_toolbox"></div>
	{% if page.file %}{% if site.itunes %}
	<a href="{{ site.itunes }}" target="_blank">
		<img src="/image/subscribe.png" style="width: 110px; height: 40px; float:right;">
	</a>
	{% endif %}{% endif %}
	{{ content }}
	{% if page.feat %}{{ page.feat | cdata_escape | markdownify }}{% endif %}
	{% if page.vimeo %}<p>Also you can watch it on <a href="https://vimeo.com/{{ page.vimeo }}">Vimeo</a>{% if page.youtube %} | <a href="https://www.youtube.com/watch?v={{ page.youtube }}">YouTube</a>{% endif %}{% if page.youku %} | <a href="http://v.youku.com/v_show/id_{{ page.youku }}.html">优酷</a>{% endif %}</p>{% endif %}
	{% if page.flickr %}<p>See the EXIF and more on <a href="{{ page.flickr }}">Flickr</a></p>{% endif %}
	{% if page.sound %}<p><a href="{{ page.sound | replace:'https://','http://' }}">Download Soundtrack</a></p>{% endif %}
	{% if page.file %}<p><a href="http://vt.tumblr.com/tumblr_{{ page.file }}">Download file</a></p>{% endif %}
	<hr />
	{% include ad.html %}
		<footer class="post-footer site-footer" id="footer">
			{% if page.tag %}
			<p>Tags: 
				{% for tag in page.tag %}
				<a href="{{ "/tagged" | prepend: site.github.url }}/#{{ tag | cgi_escape }}">#{{ tag }}</a>&nbsp;
				{% endfor %}
			</p>
			{% endif %}
			{% if page.nocomment %}{% else %}<div id="disqus_thread"></div>{% endif %}
		</footer>
  </article>

</div>
